/* Body Starts Here */
.title{
    display: block;
    margin: 0% auto;
    width: 810px;
    padding: 50px 70px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: #0d1128!important;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}
.allcontent{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maincontent{
    /* border: 5px solid blue; */
    width: 60%;
    padding: 5%;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: justify;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}
h3{
    text-align: center;  
    padding-bottom: 5%;
}
/* Body Ends Here */